{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/game.css') }}">
{% endblock %}

{% block content %}

<div class="game-container">
    {% include 'game/_gameroom.html' %}

    <form method="POST"> 
        {{ form.hidden_tag() }}
        {% if game.current_room.is_quiz() %}
            {% for subfield in form.action %}
                <div class="form-group-quiz">
                    {{ subfield }}{{ subfield.label }}
                </div>
            {% endfor %}
            {{ form.submit(class_='submit') }}
        {% else %}
            <div class="form-group">
                {{ form.action(class_='action') }}
                {{ form.submit(class_='submit') }}
            </div>
        {% endif %}    
    </form>
</div>

{% endblock %}
