{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/game.css') }}">
{% endblock %}

{% block content %}

<div class="game-container">
    <h1>Gothon Game</h1>

    <h4 style="margin-top: 20px;">{{ room.name }}</h4>
    
    <p class=room-description>
        {{room.description}}
    </p>
    
    {% if room.name in ["death", "The End"] %}
        <p><a href="/">Play Again?</a></p>
    {% else %}
        <form method="POST"> 
            <div class="form-group">
                {{ form.action(class_='action') }}{{ form.submit(class_='submit') }}
            </div>
        </form>
    {% endif %}    
</div>

{% endblock %}

