{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/game.css') }}">
{% endblock %}

{% block content %}

<h1>Gothon Mission: {{ room.name }}</h1>
<pre>
    {{room.description}}
</pre>

{% if room.name in ["death", "The End"] %}
    <p><a href="/">Play Again?</a></p>
{% else %}
    <p>
        <form action="/game/gothon" method="POST">
            
            <input type="text" name="action">
            <input type="submit">
        </form>
    </p>
{% endif %}

{% endblock %}

