{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}


{% block content %}

<div class="login-container">
    <h2>Welcome, adventurer!</h2><br>
    <p>Login to start playing! If you don't have an account, <a href="{{ url_for('auth.signup') }}">sign up here</a></p>

    <div class="form-container">
        <form method="POST">
            {{ form.hidden_tag() }}
            
            {{ form.username.label }}
            {% if form.username.errors %}
                {{ form.username(class="is-invalid") }}
                <div class="errors-container">
                    {% for error in form.username.errors %}
                        <span class="error-feedback">- {{ error }}</span><br>
                    {% endfor%}
                </div>
            {% else %}
                {{ form.username(autofocus=True)}}    
            {% endif %}            
            
            {{ form.password.label }}
            {% if form.password.errors %}
            {{ form.password(class="is-invalid") }}
                <div class="errors-container">
                    {% for error in form.password.errors %}
                        <span class="error-feedback">- {{ error }}</span><br>
                    {% endfor%}
                </div>
            {% else %}
                {{ form.password()}}    
            {% endif %}

            {{ form.submit(class_="button") }}
        </form>
    </div>
</div>

{% endblock %}