alembic==1.4.2
apipkg==1.5
astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.5.1
bcrypt==3.1.7
blinker==1.4
cffi==1.14.0
click==7.1.1
colorama==0.4.3
coverage==5.1
execnet==1.7.1
flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Caching==1.8.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-Moment==0.9.0
Flask-Script==2.0.6
Flask-Session==0.3.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
-e git+https://github.com/wmeira/gothonweb.git@19f51762c017b3d2d7939804fe982d2f30ebb9b1#egg=gothonweb
isort==4.3.21
itsdangerous==1.1.0
jinja2==3.0.0a1
lazy-object-proxy==1.4.3
Mako==1.1.2
markupsafe==2.0.0a1
mccabe==0.6.1
more-itertools==8.2.0
packaging==20.3
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pycparser==2.20
pylint==2.4.4
pyparsing==3.0.0a1
pytest==5.4.1
pytest-cache==1.0
pytest-cov==2.8.1
python-dateutil==2.8.1
python-editor==1.0.4
six==1.14.0
SQLAlchemy==1.3.16
wcwidth==0.1.9
werkzeug==1.0.1
wrapt==1.11.2
WTForms==2.2.1
