@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 12px 'Press Start 2P', cursive;
    background: rgb(247, 247, 247);
    -webkit-font-smothing: antialiased;
}

input, button, textarea {
    font:18px 'Press Start 2P', cursive;
}

button {
    cursor: pointer;
}

.content {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
}

.header {
    display: flex;
    height: 200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    text-align: center; 
    line-height: 30px; 
    font-size:25px;
}


.alert-success {
    padding: 3px;
    background-color: lightgreen;
}

.alert-error {
    padding: 3px;
    background-color: lightpink;

}

.is-invalid {
    border-color: red;
}

.errors-container {
    margin-top: 3px;
}

.error-feedback {
    margin-top: 3px;
    font-size: 8px;
    color: red; 
}