{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
{% endblock %}

{% block content %}
<div class="play-container"> 
    {% if current_user.is_authorized %}
        
    {% endif %}
    
    
    <p>Which mission are you ready to play?</p>

    <div class="missions">
        <button class="gothon" src="{{ url_for('game_gothon') }}">Gothon</button>
        <button class="mosquito" src="{{ url_for('game_mosquito') }}">Mosquito</button>
    </div>

    <!-- <hr>
    <div class="highest-scores">
        <p>Highest scores: </p>
    </div> -->
</div>

{% endblock %}