{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
{% endblock %}

{% block content %}
<div class="play-container"> 
    <h1>Welcome to the Gothon Starship Games! </h1>

    <h3>Which games are you ready to play?</h3>

    <div class="games">
        <button class="gothon" src="{{ url_for('main.game_gothon') }}">Gothon</button>
        <button class="riddle-master" src="/game/riddlemaster">Riddle Master</button>
    </div>

</div>

{% endblock %}