{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="welcome-container"> 
    {% if current_user.is_authenticated %}
        <h2>Welcome, {{ current_user.username|capitalize }}! </h2>
    {% else %}
        <h2>Welcome, Stranger! </h2>
    {% endif %}

    <p>Choose a game to play:</p>
    <a class="gothon" href="{{ url_for('game.play', name='gothon') }}">Gothon</a>
    <a class="riddle-master" href="{{ url_for('game.play', name='riddlemaster') }}">Riddle Master</a>

</div>

{% endblock %}