<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon2.ico') }}" type="image/x-icon"/>
        <link rel="icon" href="{{ url_for('static', filename='/img/favicon.ico') }}" type="image/x-icon"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/global.css') }}">
        {% block css %} {% endblock %}

        <title>Gothon Starship Games</title>
    </head>
    <body>
        <div class="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert-{{category}}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <nav class="nav-bar">
                <a href="{{ url_for('main.home') }}">Home</a>
                <a href="{{ url_for('main.ranking') }}">Ranking</a>
                
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}">Logout ({{current_user.username}}
                        {%- if not current_user.confirmed -%}*{%- endif %})</a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}">Login</a>
                {% endif %}
            </nav>

            <div class="header">
                <h1>Gothon Starship Games</h1>
                <img alt="Starship" src="{{ url_for('static', filename='/img/gothon_ship.png')}}"" height="100" width="100" />
            </div>

            <hr><br>

            <div class="content-body">
                {% block content %}{% endblock %}
            </div>
        </div>
        
        {% block scripts %}{% endblock %}
    </body>
</html>