{% extends "layout.html" %}

{% block content %}
<div class="ranking-container">
    <h1>Top best scores</h1>

    {% for game, rank in global_ranking.items() %}
        <div class="game-container" style="width: 100%;"></div>
            <h2>{{ game }}</h2>
            {% if current_user.is_authenticated %}
                <p style="font-weight:bold">{{ current_user.username|capitalize }} best score {% if user_ranking[game] %}{{ user_ranking[game].score }}{% else %}0{% endif%}</p>
            {% endif %}
            <table>
                <tr>
                    <th>Ranking</th>
                    <th>Player</th>
                    <th>Score</th>
                </tr>
                {% for r in rank %}
                    <tr {% if current_user.is_authenticated and r.user_id == current_user.username  %}style="font-weight:bold"{% endif%}>
                        <td>{{ loop.index }}</td>
                        <td>{{ r.user.username }}</td>
                        <td>{{ moment(r.ts).format('L') }} {{ moment(r.ts).format('LTS') }}</td>
                        <td>{{ r.score }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <hr>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}