{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ranking.css') }}">
{% endblock %}

{% block content %}
<div class="ranking-container">
    <h1>Top best scores</h1>

    {% for game, rank in global_ranking.items() %}
        <div class="game-container" style="width: 100%;">
            <h2>{{ game|upper }}</h2>
            {% if current_user.is_authenticated %}
                <p style="font-weight:bold">{{ current_user.username|capitalize }} best score <b>{% if user_ranking[game] %}{{ user_ranking[game].score }}{% else %}0{% endif%}</b></p>
            {% endif %}

            <table>
                <tr>
                    <th>Top</th>
                    <th>Player</th>
                    <th>Timestamp</th>
                    <th>Score</th>                    
                </tr>
                {% for r in rank %}
                    <tr {% if current_user.is_authenticated and r.user_id == current_user.username  %}style="font-weight:bold"{% endif%}>
                        <td>{{ loop.index }}</td>
                        <td>{{ r.user.username|capitalize }}</td>
                        <td>{{ moment(r.ts).format('L') }}{{ moment(r.ts).format('LTS') }}</td>
                        <td>{{ r.score }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <hr>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{% endblock %}